RewriteEngine on
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /app/index.php?path=/ [NC,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /app/index.php?path=$1 [NC,L,QSA]