@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: start;
  grid-gap: 1rem;
}

#images {
  /* Prevent vertical gaps */
  line-height: 0;
  column-gap: 0.5rem;
}



.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.skeleton-image {
  width: 100%;
  height: 350px;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.image-container {
  position: relative;
  margin-bottom: 0.5rem;
}

.image-container img {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; */
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container img.loaded {
  opacity: 1;
}

.jump-to-top {
  position: fixed;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.5rem;
  display: none;

  &.enabled {
    display: block;
  }
}

@media screen and (min-width: 640px) {
  #images {
    column-count: 2;
  }
}